.node {
color: #444;
}

.name {
color: steelblue;
}

.selected .description {
background: bisque;
cursor: pointer;
}

.error {
color: red;
}

.description {
display: inline-block;
}

.children {
padding-left: 20px;
}